@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body, html{
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.about_main{
  display: flex;
  margin: 4em;
  margin-top: 8em;
  padding: 2em;
  justify-content: space-between;
}

.about_text{
  text-align: justify;
}

p, a, h2{
  font-family: 'Gloria Hallelujah', cursive;
}

#image{
  width: 500px;
  margin-left: 40px;
}
